<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContactosServlet</servlet-name>
        <servlet-class>controlador.ContactosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>controlador.ProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IvaServlet</servlet-name>
        <servlet-class>controlador.IvaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabricanteServlet</servlet-name>
        <servlet-class>controlador.FabricanteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprasServlet</servlet-name>
        <servlet-class>controlador.ComprasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controlador.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCompraServlet</servlet-name>
        <servlet-class>controlador.GuardarCompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactosServlet</servlet-name>
        <url-pattern>/contactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IvaServlet</servlet-name>
        <url-pattern>/iva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabricanteServlet</servlet-name>
        <url-pattern>/fabricante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprasServlet</servlet-name>
        <url-pattern>/compras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCompraServlet</servlet-name>
        <url-pattern>/guardarcompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
